/* ------------------------- */
/* ----- general style ----- */
/* ------------------------- */
.tooltip.bs-tooltip-top {
    color: white;
    z-index: 100;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 5px;
    top: -13px !important;
    left: 5px !important;
    padding: 5px;
}
.tooltip.bs-tooltip-top::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 20%;
  margin-left: -15px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.home {
    margin-top: 0 !important;
}

/* header */
.header__content {
    height: 50px;
    justify-content: normal;
}

.header__logo {
    background: transparent;
    width: 60px;
}

.header__logo img {
    max-width: 40px;
}

.header__nav {
    margin-left: 5px;
}

/* ------------------------ */
/* ----- welcome page ----- */
/* ------------------------ */

.logo__text {
    color: white;
    margin: 5px;
    text-transform: uppercase;
    font-weight: lighter;
}
.logo__text:hover {
    color: #ff5860;
}
.logo__text i {
    margin-right: 5px;
}

/* search bar - start */
@media (max-width: 1979px) {
    .search-bar {
        padding: 80px 50px 55px 50px;
    }
}
@media (min-width: 1980px) {
    .search-bar {
        padding: 260px 50px 260px 50px;
    }
}
.search-bar label {
    margin-bottom: 0;
}
.search-bar label svg {
    color: #ff5860;
}
/* search bar - end */

/* search result list - start */
.aa-Panel {
    z-index: 5;
}

.search-img {
    height: 80px;
    border-radius: 5px;
    float: left;
}

.search-movie-title, .search-movie-genres, .search-movie-avgRating {
    margin-left: 70px;
    line-height: 25px;
}

.search-movie-title {
    font-size: larger;
}

.search-movie-genres {
    font-size: smaller;
    font-weight: lighter;
}

.search-movie-avgRating {
    margin-top: 5px;
}

.search-movie-avgRating > span {
    font-size: smaller;
    vertical-align: bottom;
    padding-left: 5px;
}
/* search result list - end */

/* heading cards - start */
.header-a {
    color: #ffffff;
    margin-left: 10px;
}
.header-a:hover {
    color: #ff5860;
}
/* heading cards - end */

/* card design - start */
.card {
    background-color: transparent;
    border: 0px;
}

.card__cover {
    background: url('../../static/media/loading-spinner.gif') center no-repeat;
    min-height: 120px;
}

.card__cover:hover {
    cursor: pointer;
}

.card__category > span.style-as-a, .card__meta > li > span.style-as-a {
    font-size: 14px;
    position: relative;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
    margin-right: 7px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
}
.card__category > span.style-as-a:not(:last-child):after, .card__meta > li > span.style-as-a:not(:last-child):after {
    content: ', ';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
}

.card img, .card__cover:hover:before {
    border-radius: 5px;
}
/* card design - end */

/* ------------------------ */
/* ----- details page ----- */
/* ------------------------ */

.details__title {
    margin-top: 50px;
}

.card__meta > li > span {
    font-weight: bold;
}

/* review style */
.reviews__text {
    border-top: 1px solid rgba(255,255,255,0.05);
}

.comments__rate span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.5);
  font-size: 13px;
  margin-right: 25px;
  position: relative;
  height: 30px;
}
.comments__rate span i {
  font-size: 18px;
  opacity: 0.5;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.comments__rate span:last-child {
  margin-right: 0;
}
.comments__rate span:first-child i {
  margin-right: 6px;
  color: #ff5860;
}

#icon-arrow {
    margin: 0 5px 0 5px;
    font-size: smaller;
}

/* ------------------------- */
/* ----- personal page ----- */
/* ------------------------- */
.personal-title {
    color: #ffffff;
    font-size: x-large;
    padding-bottom: 25px;
}